
.custom-login{
    height:500px;
    padding-top: 100px;
}
img.slider-img{
    height: 400px !important
}

.custom-product{
    height: 500px;
}
.slider-text
{
    background-color: #37846b24;
}
.trending-img{
    height: 100px;
    
}
.trending-item{
    float: left;
    width: 16.66%;
}
.trending{
    margin: 40px
}
.search-item{
    float: left;
    width: 16.66%;
    height: 400px !important

}
.detail-img{
    height: 200px;
    margin-bottom: 13%;
}
button.buy{
    margin-bottom: 5%;
}

.cart{
	border-bottom: 1px solid #0f0c29;
	margin-bottom: 20px;
	padding-bottom: 20px;
	
}
.active img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}